.section-features {
    padding: 9.6rem 0;
    position: relative;
    overflow: hidden;
}

.section-intro {
    padding: 21.6rem 0;
    // height: 100vh;
    position: relative;
    overflow: hidden;
    // overflow-x: hidden;
}

.section-contact-us {
    padding: 9.6rem 0;
    overflow: hidden;
}
