/* COLORS */
$color-white: #fff;
$color-black: #000;
$color-primary: #575dff;
$color-primary-dark-1: #4e54e6;
$color-primary-light-1: #eeefff;
$color-gray-1: #404044;
$color-gray-light-1: #ccc;
$color-gray-light-2: #f7f7f7;

$font-color: #555;
$font-color-dark-1: #333;
$font-color-light-1: #777;

/* 
FONTS
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 112 / 128 / 144
*/

/* SPACE */

/* 
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 
64 / 80 / 96 / 128
*/
$gutter-vertical: 6.4rem;
$gutter-horizontal: 6.4rem;

/* BORDER-RADIUS */
$border-radius-sm: 0.8rem;
$border-radius-md: 1.2rem;
