.intro {
    & {
        // z-index: 10;
        // z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 100%;
    }

    &__container {
        // height: 80vh;
    }

    &__text {
        color: $color-white;
        text-align: center;
    }

    &__title {
        font-size: 6.2rem;
        font-weight: 700;
        margin-bottom: 1.2rem;

        transition: all 1s;

        &.hidden {
            transform: translateX(50vh);
            opacity: 0;
        }
    }

    &__line {
        font-size: 1.8rem;
        line-height: 2;

        transition: all 1s;

        &.hidden {
            transform: translateX(-50vh);
            opacity: 0;
        }
    }

    &__bg-img {
        & {
            height: 100%;
            width: 100%;
            object-fit: cover;
            // z-index: -1000;
            // visibility: hidden;
            transition: filter 1s;

            &.lazy {
                filter: blur(20px);
            }
        }

        &-box {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            // visibility: hidden;
            z-index: -1000;
        }
    }
}
